.App {
  --del-bgcolor: #f2e1e1;
  --add-bgcolor: #ddefdc;
  --del-color: #3d0000;
  --add-color: #093d00;
  
  background: #eee;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editor {
  background: #fff;
  min-height: 65vh;
  max-width: 70vw;
  margin: 20px;
  padding: 20px;
}

.review {
  --back-color: #fff;
  background: var(--back-color);
  border: solid 0 var(--back-color);
  border-radius: 2px;
}
.review.add {
  background: var(--add-bgcolor);
  border: solid 0 var(--add-bgcolor);
  text-decoration: underline var(--add-color);
  color: var(--add-color);
}
.review.del {
  background: var(--del-bgcolor);
  border: solid 0 var(--del-bgcolor);
  text-decoration: line-through var(--del-color);
  color: var(--del-color);
}

.review-items {
  min-width: 23vw;
  position: absolute;
  right: 10px;
  top: 100px;
}
.review-item {
  margin: 2px;
  border-radius: 4px;
  background: #fff;
}
.review-item > div {
  font-weight: bold;
  text-align: center;
}
.review-item.add {
  border: solid 1px var(--add-bgcolor);
}
.review-item.add > div {
  background-color: var(--add-bgcolor);
  color: var(--add-color);
}
.review-item.del {
  border: solid 1px var(--del-bgcolor);
}
.review-item.del > div {
  background-color: var(--del-bgcolor);
  color: var(--del-color);
}